body{  
    font-family: 'Merienda', cursive;;
}

.container{
    padding: 60PX 4%;
    border: 1px solid black;
}
.container--fondo{
    flex-direction: row-reverse;
    background: url("Imagenes/fondo.png") no-repeat bottom right;
    background-size: 400px;
}

#msgV, #msgM{
    font-size: 22px;
    color: red;
}

.btnBuy{
    background:#A4Cd73;
    color:#ffff;
    font-size:25px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-right: 200px;
    font-family: 'Merienda', cursive;
}
#buy_section{
    align-items: center;
    margin-left: 200px;
    text-align: center;
}
#compra1{
    font-size: 18px;
    text-align: center;
    margin-left: 200px;
    margin-right: 100px;
}

#btn{
    background:#A4Cd73 ;
    color:#ffff;
    font-size:22px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    font-family: 'Merienda', cursive;
    width: 200px;
    height: 60px;
}
.image1{
    margin-left: 100px;
    width: 400px;
    height: 400px;
}




#encabezado{
    background-color: #A4Cd73;
    width:100%;
    display: flex;
    padding: 10px 5%;
    box-sizing:border-box;
}
.nav-contair{
    width:60%;
   display:flex;
   align-items:center ;
    justify-content: flex-end;
   
}
.image-container{
width:40%;
}
.nav-link{
    color:#ffff;
    font-weight: bolder;
}
.nav-redes{
    list-style: none;
    display: flex;
}
.item-redes{
    margin-right: 10px;
    color:#ffff;
    font-size:26px;
}
.logo{
    width:250px;

}
.descriptivo{
    text-align: justify;
    width: 60%;
    font-size: 25px;
}
.product{
    width: 40%;
}
#product__image1{
    width: 400px;
    height: 400px;
    margin-right: 200px;
}
#product__image2{
    width: 300px;
    height: 400px;
    margin-right: 200px;
}
#product__image3{
    width: 350px;
    height: 400px;
    margin-right: 200px;
}

footer{
    text-align: center;
    color: #ffff;
    background-color: #CCC;
    padding:20px 0;

} 
 .tarjeta{
    width: 400px;
    height: 400px;
}
.form-control{
    width: 50%;
    background-color: #ccc;
    padding: 0.6em 1.2em;
    font-size:18px;
    border-radius: 15px;
    border: none;
    justify-content:left
}
#cont2, #cont3, #cont4{
    display:none;
}
